/* topbar模块开始 */
.topbar{
    position: relative;
    height: 60px;
    background-color: #3F51B5;
}

.logo {
    position: absolute;
    top: 4.5px;
    left: 10px;
    width: 212px;
    height: 51px;
    background: url("../images/logo_s.png") no-repeat center center;
}

.user_avatar {
    position: absolute;
    top: 0;
    right: 0;
    width: 134px;
    height: 50px;
    line-height: 60px;
}

.user_avatar .avatar{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 60px;
    background: url("../images/default_user.png") no-repeat center center;
}

.user_avatar .user {
    font-size: 14px;
    color: #CDD3FA;
    line-height: 60px;
}

.user_avatar .user span{
    color: #f2f2f2;
    font-size: 10px;
}
/* topbar模块结束 */


/* leftsidebar部分开始 */
.leftsidebar ul {
    float: left;
}

.leftsidebar ul li{
    width: 321px;
    height: 52px;
    background-color: #FCFCFC;
}
.leftsidebar ul li:nth-child(1){
    background-color:  #F5F5F5;
}


.leftsidebar ul li a {
    font-size: 17px;
    font-weight: 700;
    line-height: 52px;
    margin-left: 25px;
}

.leftsidebar ul li:hover {
    background-color: #F5F5F5;
    
}
.leftsidebar ul li a img {
    width: 25px;
    height: 25px;
}


.magicbox{
    height: 32px !important;
    width: 32px !important;
}

/* 向右移动3个单位 */
.rightmovethree {
    margin-left: 50px !important;
}
/* leftsidebar部分结束 */