

/*报警部分*/
.top_part .woring {
    display: none;
    position: fixed;
    top:10px;
    right: 10px;
    width: 320px;
    height: 60px;
    background-color: #A73F51;
    border-radius: 3px;
    margin-bottom: 5px;
}

.top_part .woring span {
    display: inline-block;
    float: left;
    font-size: 35px;
    color:#DCE0F7 ;
    line-height: 60px;
    margin-left: 5px;
}


.top_part .woring div {
    float: left;
    margin-top:10px;
}

.top_part .woring div h3,.top_part .woring div h4 {
    color:#DCE0F7 ;
}

/*topbar模块开始*/
.top_part {
    position: relative;
    height: 310px;
    background-color: #4E64D9;
}

.topbar {

    height: 51px;
   /* background-color: chocolate;*/
}


.topbar .logo{
    float: left;
    width: 212px;
    height: 51px;
    background:url("../images/logo_s.png") no-repeat center center;
}

.topbar .login-btn {
    float: right;
    height: 51px;
}
.topbar .login-btn a{
    font-size: 16px;
    line-height: 51px;
    color: #f2f2f2;
}

.topbar .login-btn span {
    color: #f2f2f2;
}
/*topbar模块结束*/


/*登录框模块开始*/
.main_box {
    position: absolute;
    top:0;
    left:50%;
    width: 350px;
    height:584px ;
    background-color: #EEEEEE;
    border-radius: 4px;
    transform: translate(-50%,21%);
}
.main_box .top_box {
    width: 100%;
    height: 452px;
    background-color: #F7F7F7;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.3);
    transition: all 0.5s;
}
.main_box  .top_box:hover {
    box-shadow: 0 0  0  0 #404040;
}

.main_box .top_box .tips {
    width:100% ;
    height: 120px;
    background-color: #3F51B5;
    overflow: hidden;
}

.main_box .top_box .tips .head_pic {
    width: 200px;
    height: 40px;
    margin-top:25px;
    margin-left: 8px;
    margin-bottom: 10px;
}
.main_box .top_box .tips .head_pic span {
    font-size: 40px;
}
.main_box .top_box .tips span {
    font-size: 16px;
    color: #f2f2f2;
    margin-left: 30px;

}


.main_box .top_box .input_model {
    width: 350px;
    height: 332px;
    margin:0 auto;
    padding:15px 25px 0;
    background-color: #F7F7F7;
}
.main_box .top_box .input_model .user_pwd{
    width: 150px;
    height: 30px;
    line-height: 30px;
}

.main_box .top_box .input_model input {
    width: 300px;
    height: 38px;
    outline: none;
    border:none;
    border-bottom: 1px solid gray;
    background-color: #E8F0FE;
    transition: all 1.5s;
}

.main_box .top_box .input_model input:focus {
    border-bottom: 2px solid red;
}


.main_box .top_box .input_model button {
    width: 90px;
    height:38px ;
    margin:20px 0;
    border-radius: 5px;
    background-color: #4E64D9;
    color: #f2f2f2;
    margin-bottom: 0;
}
.main_box .top_box .input_model h3 {
    font-size: 14px;
    font-weight: 400;
    margin:10px 0;
    width: 100%;
    background-color: darkcyan;
}
 .main_box .top_box .input_model h3:hover {
     text-decoration:underline;
 }

/*登录框模块结束*/


/*版权模块开始*/

.copyright h6{
    text-align: center;
    font-size: 14px;
    color: #635C6F;
    font-weight: 400;
    margin:20px auto;
}
.copyright .add_group {
    width: 100%;
    background-color: cyan;
}
.copyright .add_group a{
    display: block;
    width: 90px;
    height: 22px;
    margin:0 auto;
    background:url("../images/group.png") no-repeat center center;
}

.copyright .web_count {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 20px;
    background-color: cornflowerblue;
}

.copyright .web_count a{
    display: block;
    width: 20px;
    height: 20px;
    background:url("../images/web_count.gif") no-repeat center center;
}
/*版权模块结束*/


/*bottom_box模块开始*/
.bottom_box {
    height: 1000px;
    background-color: #EEEEEE;
}
/*bottom_box模块结束*/